.product__list.product__list_list-thumbnail
	each item in local.products
		.product__item
			.product__item-holder
				.product__slideshow
					.product__selected-image
						img(src="#{item.image[0]}")
					ul.product__thumb
						-var i = 1;
						each image in item.image

							li(class="product__thumb-item" + ((i == 1) ? " product__thumb-item_active" : ''))
								img(src="#{image}")
							- i++
				.product__info
					h2.product__name= item.name
					article.product__description= item.description
					ul.product__options
						each option in item.options
							li.product__option-row
								span.product__option-name= option.name
								span.product__option-value= option.value
					.product__rating(data-rating="#{item.rating}")
						ul.product__star-list
							-for(var i=0; i<5; i++)
								li(class="product__star-item" +((i+1 <= 4) ? " product__star-item_active" : "" ))
						span.product__reting-value= item.rating
				.product__buy
					span.product__price= item.price
					span.product__status= item.status
					a(href="#").product__buy-btn.button В корзину
				.product__code
					span.product__article-text Артикул
					span.product__article-code= item.code

