mixin social(object, modificator)
	ul(class="social "+ ((!modificator) ? '' : 'social_#{modificator}'))
		each value, key in object
			li(class="social__item")
				a(href="#{value}" target="_blank" title="#{value}" class="social__link social__link_#{key}"+ ((!modificator) ? '' : '-#{modificator}'))= value

mixin radio(object)
	ul.filter__sub-list.filter__hidden-block
		each item, index in object
			li.filter__sub-item
				label.filter__label.filter__label_radio
					input(type="radio" name="position").filter__input.filter__input_radio
					label.filter__bg-input_radio
					span.filter__text= item

mixin checkbox(object)
	ul.filter__sub-list.filter__hidden-block
		each item in object
			li.filter__sub-item
				label.filter__label.filter__label_checkbox
					input(type="checkbox" name="brend").filter__input.filter__input_checkbox
					label.filter__bg-input_checkbox
					span.filter__text= item
		li.filter__reset-item
			a(href="#").filter__reset-link Сбросить фильтр
mixin price()
	.price.filter__hidden-block
		label.price__label
			span.price__text от
			input(type="text").price__input.price__input_lower
		label.price__label
			span.price__text до
			input(type="text").price__input.price__input_upper
		#slider.price__slider
mixin color(object)
	ul.filter__sub-list.filter__sub-list.color.filter__hidden-block
		each item in object
			li.filter__sub-item.color__item
				a(href="#" style="background-color:\##{item}").filter__link.color__link